.movie {
}
.container {
}
.movie-top {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.movie__logo {
}
.logo {
}
.logo__img {
  max-width: 400px;
  width: 100%;
  margin-top: -30px;
  margin-left: auto;
  margin-right: auto;
  transition: 0.5s ease;
  &:hover {
    transform: scale(1.05);
  }
}
.movie-top__inner {
  text-align: center;
}
.movie__heading {
}
.movie__form {
  margin-top: 10px;
}
.movie__name {
  border: 1px solid transparent;
  border-radius: 15px;
  padding: 5px;
  padding-left: 15px;
  background-color: #272829;
  color: #fff;
  &::placeholder {
    color: rgba(255, 255, 255, 0.3);
  }
  &:focus {
    outline: none;
  }
}
.movie-top__wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.movie__year {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 13px;
}
.movie__yearfrom {
  border: 1px solid transparent;
  border-radius: 15px;
  padding: 5px;
  padding-left: 15px;
  background-color: #272829;
  color: #fff;

  &::placeholder {
    color: rgba(255, 255, 255, 0.3);
  }
  &:focus {
    outline: none;
  }
}
.movie__yearto {
  border: 1px solid transparent;
  border-radius: 15px;
  padding: 5px;
  padding-left: 15px;
  background-color: #272829;
  color: #fff;

  &::placeholder {
    color: rgba(255, 255, 255, 0.3);
  }
  &:focus {
    outline: none;
  }
}
.movie__button {
  // text-align: center;
  border: 1px solid transparent;
  border-radius: 30px;
  padding: 8px 25px;
  background-color: #900c3f;
  color: #fff;
  font-weight: 600;
  transition: all 0.5s ease;
  &:hover {
    transform: scale(1.1);
  }
}

.movie-bottom {
  margin-top: 100px;
  margin-bottom: 100px;
}
.movie__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
.movie__item {
  margin: 0 auto;
  transition: all 0.5s ease;
  background-color: #272829;
  border-radius: 15px;
  overflow: hidden;
  max-width: 300px;
  width: 100%;
  &:hover {
    box-shadow: 0px 5px 10px 2px rgba(68, 75, 81, 0.47);
  }
}
.item {
}
.movie__img {
  min-width: 300px;
  width: 100%;
  max-height: 168px;
}
.item__title {
  font-size: 22px;
  margin-bottom: 10px;
  margin-top: 15px;
  padding: 10px 15px;
  min-height: 120px;
}
.movie__description {
  padding: 15px;
  max-height: 140px;
  min-height: 140px;
  overflow: hidden;
}
.movie__textbox {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 15px 15px 15px;
  gap: 10px;
}
.movie__rating {
}
.movie__date {
  text-align: end;
}
.movie__language {
}
.movie__link {
  text-decoration: none;
  text-align: end;
  text-decoration: none;
  color: #fff;
  transition: 0.5s ease;
  &:hover {
    color: #900c3f;
    transform: scale(1.05);
  }
}

@media only screen and (min-width: 375px) {
}
@media only screen and (min-width: 600px) {
  .movie__heading,
  .movie__heading {
    font-size: 20px;
  }
}
@media only screen and (min-width: 648px) {
  .movie__list {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 992px) {
  .movie__heading,
  .movie__heading {
    font-size: 24px;
  }
  .movie__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (min-width: 1200px) {
  .movie__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.movie__bookmark {
  margin-top: 10px;
}
.movie__fav {
  width: 64px;
  height: 64px;
  background-image: url("/img/fav.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  border: 1px solid transparent;
  transition: 0.5s ease;
  &:hover {
    transform: scale(1.2);
  }
}

.moreInfoButton {
  border: none;
  background-color: transparent;
  text-align: left;
  color: green;
  font-weight: bold;
  transition: 0.5s ease;
  &:hover {
    color: #900c3f;
  }
}

.bookmarkButton {
  background-color: transparent;
  width: 34px;
  height: 34px;
  border: none;
  background-image: url("/img/unfav.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  justify-self: end;
  transition: all 0.5s ease;
  &:hover {
    transform: scale(1.1);
  }
}

.bkmb {
  background-image: url("../img/fav.png");
}

.modal-content {
  background-color: #272829;
}

.btn-secondary {
  transition: all 0.5s ease;

  &:hover {
    background-color: #900c3f;
  }
}

.btn-close {
  transition: all 0.5s ease;

  &:hover {
    background-color: #900c3f;
  }
}

.modall {
  background-color: rgba(0, 0, 0, 0.98);
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.no-display {
  display: none;
}

.modal__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.modal-exit {
  position: absolute;
  top: 10%;
  right: 50%;
  transform: translate(50%, -50%);
}

.style {
  max-width: 50px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  &:hover {
    transform: scale(1.1);
  }
}
